@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  /* Primary Color */
  --pale-blue: hsl(225, 100%, 94%);
  --brigth-blue: hsl(245, 75%, 52%);

  /* Neutral Color */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Typography */
  --fs-16: 16px;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}
body{
  margin:0;
  padding:0;
}
main {
    box-sizing: border-box;
    background-image: url('./images/pattern-background-desktop.svg');
    background-color: aqua;
    background-repeat:no-repeat;
    background-size:100%,40%;
    background-position: ;
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items  : center;
  
}



.principal{
  display: flex ;
  width: 340px;
  height:500px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  box-shadow: black ;
  background-color: white;
  border-radius: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'Red Hat Display';
  font-size: var(--fs-16);
}



.imagen{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}
.header-order{
  margin-bottom: 0;
}
.parrafo{
  margin-top: 0;
}

.plan{
display: flex;
background-color:white;
justify-content: space-around;
align-items:center;
padding: 30px;
text-align:center;
height: 15px;
width: 80%;
}
.change:hover{
  background-color: blanchedalmond;
}


.inner-content{
 line-height:0.1;
 
}

.botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
   
}

.btn-pagar{
  background-color: var(--brigth-blue);
  color: white;
  margin-bottom: 20px;
  width: 280px;
  height: 40px;
  border-radius:10px;
  font-size: var(--fs-16) bold;
  box-shadow:5px 10px grey ;
  
}

.btn-pagar:hover{
  background-color:mediumorchid;
}

.btn-cancelar{
  border: none;
  background-color: white;
  margin-bottom: 20px;
  width: 280px;
  height: 40px;
  border-radius:10px;
  font-size: var(--fs-16) bold;
}

@media screen and (max-width:376px){
  .principal{
    width:300px;
    height:auto;
  }

  .imagen{
    height: 150px;
}